extends dashboard

block main
  h1=title
  hr
  div.my-custom-scrollbar.table-wrapper-scroll-y
    table.table.table-striped.table-hover
      thead
        th Id
        th Nombre
        th Fecha Crea
        th Estado
        th Acciones
      tbody
        each item, index in databases
          tr
            td #{item.database_id}
            td #{item.name}
            td #{item.create_date}
            td #{item.state_desc}
            td
              div
                button.btn.btn-primary.mx-1 Ingresar
                a.btn.btn-primary.mx-1(href="/usersToDatabase/"+item.name) Accesos

  //- div.modal.fade(id='modalAccess', tabindex='-1', aria-labelledby='modalAccessLabel', aria-hidden='true')
  //-   div.modal-dialog
  //-     div.modal-content
  //-       div.modal-header
  //-         h1.modal-title.fs-5(id='modalAccessLabel') Modal title
  //-         button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
  //-       div.modal-body 
  //-         div.my-custom-scrollbar.table-wrapper-scroll-y
  //-           table.table.table-striped.table-hover
  //-             thead
  //-               th Id
  //-               th Nombre
  //-             tbody
  //-               each item, index in users
  //-                 tr
  //-                   td #{item.principal_id}
  //-                   td #{item.name}
  //-       div.modal-footer
  //-         button.btn.btn-secondary Close
  //-         button.btn.btn-primary Save
