extends dashboard

block main
  h1=title
  hr
  div.my-custom-scrollbar.table-wrapper-scroll-y
    if message
      div.alert.alert-danger(role='alert') #{message}
    else
      table.table.table-striped.table-hover
        thead
          th Id
          th Nombre
          th Fecha Crea.
          th Fecha Mod.
        tbody
          each item, index in tables
            tr
              td #{item.object_id}
              td #{item.name}
              td #{item.create_date}
              td #{item.modify_date}