extends dashboard

block main
  h1=title
  div.my-custom-scrollbar.table-wrapper-scroll-y
    table.table.table-striped.table-hover
      thead
        th Id
        th Nombre
        th Fecha Crea.
        th Fecha Mod.
      tbody
        each item, index in tables
          tr
            td #{item.object_id}
            td #{item.name}
            td #{item.create_date}
            td #{item.modify_date}
            td
              div
                a.btn.btn-primary.mx-1(href='/table/'+item.name) Ver