extends dashboard

block main
  h1=title
  hr
  div.my-custom-scrollbar.table-wrapper-scroll-y
    table.table.table-striped.table-hover
      thead
        th Id
        th Nombre
        th Fecha Crea
        th Fecha Modif
        th Estado
        th Acciones
      tbody
        each item, index in users
          tr
            td #{item.principal_id}
            td #{item.name}
            td #{item.create_date}
            td #{item.modify_date}
            td
              div
                span.form-check.form-switch
                  input.form-check-input(type='checkbox' role="switch" id=`#{item.principal_id}Switch` checked=!item.is_disabled)
                  label.form-check-label(for=`#{item.principal_id}Switch`)
            td
              div
                //button.btn.btn-primary.mx-1(href="/users/changePassword/") Cambiar Contraseña
                //button.btn.btn-primary.mx-1(onclick='authenticate(\'' + item.name + '\')') Cambiar Contraseña

                button.btn.btn-primary.mx-1 
                  a(href='/changePassword/'+item.name) Cambiar contraseña