extends dashboard

block main
  div.add
    h1=title
    //a.btn.btn-primary.mx-1(href='/assignDatabase/'+item.name) ADD NEW USERS
    a.btn.btn-primary(href='/newUsers/') ADD NEW USERS
  hr
  div.ocultaTabla
    if message
      div.alert.alert-danger(role='alert') #{message}
      button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize)
    else
      table.table.table-striped.table-hover
        thead
          th Id
          th Nombre
          th Fecha Crea
          th Fecha Modif
          th Estado
          th Acciones
        tbody
          each item, index in users
            tr
              td #{item.principal_id}
              td #{item.name}
              td #{item.create_date}
              td #{item.modify_date}
              td
                div
                  span.form-check.form-switch
                    input.form-check-input(type='checkbox' role="switch" id=`#{item.principal_id}Switch` checked=!item.is_disabled onclick)
                    label.form-check-label(for=`#{item.principal_id}Switch`)
              td
                div
                  a.btn.btn-primary.mx-1(href='/changePassword?name='+item.name) Cambiar contraseña
                  a.btn.btn-primary.mx-1(href='/assignDatabase?name='+item.name) Asignar DB